<%- include('partials/header.ejs') %>

<div class="box">
  <h1>
    Today
  </h1>
</div>
<div class="box">
  <% for( let index = 0; index < lists.length; index++ ) { %>
  <div class="item">
    <form>
      <input type="checkbox">
    </form>
    <p>
      <%=lists[index]  %>
    </p>
  </div>
  <% } %>

  <div class="item">
    <form>
      <input type="text">
      <button type="submit">+</button>
    </form>
  </div>

</div>

<%- include('partials/footer.ejs') %>