<%- include('partials/header.ejs') %>

<div class="box">
  <h1>
    Today
  </h1>
</div>
<div class="box">
  <div class="item">
    <form>
      <input type="checkbox">
    </form>
    <p>
      Do grocery shopping
    </p>

  </div>
  <div class="item">
    <form>
      <input type="text">
      <button type="submit">+</button>
    </form>
  </div>

</div>

<%- include('partials/footer.ejs') %>