html {
    background-color: #d5f9d77c;
    font-family: "helvetica neue";
}

body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    min-height: 95vh;
}

main {
    text-align: center;
    flex: 1 0 auto;
}